body {
   background: url("https://vignette.wikia.nocookie.net/phobia/images/5/53/Clouds.jpg/revision/latest?cb=20170123161554") no-repeat center fixed;
    
}
.mainheading  {
    color: cyan;
    font-size: 50px;
    font-family: courier;
    
}
p    {
    color: black;
    
}