body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuUzPq4sNkVm3X6JCzwLAMa9H3Npt9m81oI5Yybq89p6K-nAnM") no-repeat center fixed;
    width:100%;
    height:100%;
    background-size:cover;
    position:absolute;
    
   
}
.mainheading  {
    color: cyan;
    font-family: courier;
    top:10%;
    
}
p  {
    color: black;
    
}

.secondary img{
    width:12%;
    position:absolute;
    left:50%;
    top:8%;
    
}
    
    
   .college img{
    width:20%;
    position:absolute;
    top:40%;
    left:48%;
    border-radius:50%;
    z-index:7%;
    }